<h1>Contests</h1>

<ul>
  <% @contests.each do |contest| %>
    <li>
      <%= link_to contest.name, contest %>
      <% if current_user && current_user.superuser? %>
        &mdash;
        <%= link_to "new round", new_contest_round_path(contest) %>
      <% end %>
      <ul>
        <% contest.rounds.active.each do |round| %>
          <li>
            <%= link_to round.name, round %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
